<!DOCTYPE html>
<html>
  <head>
    <title>Client Portal Main</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../styles/main.30ac1ef3.css">
	<link rel="stylesheet" href="../styles/stylesheets/resetPassword.css">
  </head>
  <body ng-app="ChangePasswordTest" class="spa">
    <h1>Set password</h1>
	<p>Your password has been reset.</p>
	<div ng-controller="ResetFormCtrl">
		<form name='form' novalidate>
			<span class='fieldGroup'>
				<label for="id">ID<br/>(leave blank for new)</label>
				<input id="id" type='text' ng-model="user.id">
			</span>
			<span class='fieldGroup'>
				<label for="username">User Name</label>
				<input id="username" type='text' required ng-model="user.username">
			</span>
			<span class='fieldGroup'>
				<label for="email">Email</label>
				<input id="email" type='text' required ng-model="user.email">
			</span>
			<div class="buttons">
				<button ng-click="reset()" ng-disabled="form.$invalid">Reset Password</button>
				<button ng-click="autofill()">Auto Fill</button>
			</div>			
		</form>
		
		<h3>User</h3>
		<pre>
			{{user}}
		</pre>
		<h3>Result</h3>
		<pre>
			{{resetWS.result}}
		</pre>
		
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src="scripts/ResetPasswordTestApp.js"></script>
	
  </body>
</html>
  
