<div class="change_admin_password">
    <h1>Change Admin Password</h1>
    <h2>{{adminUserService.user.username}} : {{adminUserService.user.email}}</h2>

    <form id="edit_form" novalidate name="form">
      <div class="field-group col-2">
          <label for="old_password">Old Password</label>
          <input id="old_password" type="password" ng-model="passwords.old_password" required>
      </div>        

      <div class="field-group col-2">
          <label for="password">New Password</label>
          <input id="password" type="password" ng-model="passwords.password" required name="password">
      </div>        

      <div class="field-group col-2">
          <label for="password2">Confirm New Password</label>
          <input id="password2" type="password" ng-model="passwords.password2" required match="passwords.password" name="password2">
      </div>        
 
       <div ng-show="form.password2.$error.match">Fields do not match!</div>
       
        <div class="buttons">
            <button ng-click="save()" ng-disabled="form.$invalid" >Change</button>
            <!--button ng-click="autofill()">Auto Fill</button-->
        </div>
    </form>
    <!--
    <pre>form = {{company | json}}</pre>
    -->
    
</div>