<div class="add_client">

    <h1>{{title}}</h1>

    <form id="company_form" name="newCompany" novalidate>
        <div class="field-group col-3">
            <label for="company_name">Company Name</label>
            <input id="company_name" type="text" ng-model="company.name" name="name" required ng-minlength="2" ng-maxlength="50" />
        </div>

        <div class="field-group col-3">
            <label for="company_address">Company Address</label>
            <textarea id="company_address" ng-model="company.address" name="address" required></textarea>
        </div>
        
        <div class="fields-row">
            <div class="field-group col-1">
                <label for="company_city">City</label>
                <input id="company_city" ng-model="company.city" name="city" ng-pattern="/^[A-z]+$/" capitalize-first required>
            </div>
            <div class="field-group col-1">
                <label for="company_province">Prov.</label>
                <select id="company_province" ng-model="company.province" name="province" required>
                    <option value="AB">Alberta</option>
                    <option value="BC">British Columbia</option>
                    <option value="MB">Manitoba</option>
                    <option value="NB">New Brunswick</option>
                    <option value="NL">Newfoundland</option>
                    <option value="NS">Nova Scotia</option>
                    <option value="NT">Northwest Territories</option>
                    <option value="NU">Nunavut</option>
                    <option value="ON">Ontario</option>
                    <option value="PE">Prince Edward Island</option>
                    <option value="QC">Quebec</option>
                    <option value="SK">Saskatchewan</option>
                    <option value="YT">Yukon</option>
                </select>
            </div>
            <div class="field-group col-1">
                <label for="company_postal">Postal</label>
                <input id="company_postal" ng-model="company.postal_code" capitalize ui-mask="A9A 9A9" ng-pattern2="/^[ABCEGHJKLMNPRSTVXY]{1}\d{1}[A-Z]{1} *\d{1}[A-Z]{1}\d{1}$/" name="postal_code" required>
            </div>
            
        </div>
        
        <div class="field-group col-3">
            <label for="company_email">Order Confirmation Email</label>
            <input id="company_email" type="email" ng-model="company.email" name="email" required>
        </div>        

        <div class="fields-row">
          <div class="field-group col-1">
              <label for="company_phone1">Primary Phone</label>
              <input id="company_phone1" ui-mask="(999) 999-9999" type="phone" ng-model="company.phone" name="phone"  required>
          </div>        
          <div class="field-group col-1">
              <label for="company_ext1">Extension</label>
              <input id="company_ext1" type="text" ng-model="company.ext">
          </div>        
        </div>
        <div class="field-group col-3">
            <label for="company_phone2">Secondary Phone</label>
            <input id="company_phone2" ui-mask="(999) 999-9999" ng-model="company.phone2" name="phone2">
        </div>        
        
        <div class="field-group col-3">
            <label for="company_accEmail">WPL Account Rep. Email</label>
            <input id="company_accEmail" type="email" ng-model="company.wplEmail" name="wplEmail" required>
        </div>        

        <div class="buttons">
            <button ng-click="cancel()">Cancel</button>
            <button ng-click="save(company)">Save</button>
            <!-- <button ng-click="autofill()">Auto Fill</button> -->
        </div>
    </form>
    <!--
    <pre>form = {{company | json}}</pre>
    -->
    
</div>