<div class="edit_client_user">

    <h1>{{title}}</h1>

    <form id="edit_form" novalidate>
        <div class="fields-row">
          <div class="field-group col-2">
              <label for="first_name">First Name</label>
              <input id="first_name" type="text" ng-model="user.first_name" required ng-minlength="2" ng-maxlength="45" />
          </div>

          <div class="field-group col-2">
              <label for="last_name">Last Name</label>
              <input id="last_name" type="text" ng-model="user.last_name" required ng-minlength="2" ng-maxlength="45" />
          </div>
        </div>

        <div class="fields-row">
          <div class="field-group col-2">
              <label for="email">Email</label>
              <input id="email" type="email" ng-model="user.email" required>
          </div>

          <div class="field-group col-2">
              <label for="confirm_email">Order Confirmation Email</label>
              <input id="confirm_email" type="email" ng-model="user.confirmation_email" required>
          </div>        
        </div>

        <div class="fields-row">
          <div class="field-group col-2">
              <label for="phone1">Primary Phone</label>
              <input id="phone1" ui-mask="(999) 999-9999" type="phone" ng-model="user.phone" name="phone"  required>
          </div>        

          <div class="field-group col-2">
              <label for="phone2">Secondary Phone</label>
              <input id="phone2" ui-mask="(999) 999-9999" ng-model="user.phone2">
          </div>        
        </div>

        <div class="buttons">
            <button ng-click="cancel()">Cancel</button>
            <button ng-click="save(user)">Save</button>
            <!-- button ng-click="autofill()">Auto Fill</button -->
        </div>
    </form>
    <!--
    <pre>form = {{company | json}}</pre>
    -->
    
</div>