<div class="edit_admin_user">
	<h1>{{title}}</h1>
	<form id="edit_form" novalidate name="form">
		<div class="field-group col-2"> <label for="username">User Name</label> <input id="username" type="text" ng-model="user.username" required ng-minlength="2" ng-maxlength="45"> </div>
		<div class="field-group col-2"> <label for="email">Email</label> <input id="email" type="email" ng-model="user.email" required> </div>
		<div class="buttons"> <button ng-click="cancel()">Cancel</button> <button ng-click="save(user)" ng-disabled="form.$invalid">Save</button> <button ng-click="autofill()">Auto Fill</button> </div>
	</form>
	<!--
		<pre>form = {{company | json}}</pre>
		--> 
</div>
