<div class="list_admins">
  <section id="admin_list">

    <div class="util">
      <button class="add-btn" ng-click="onAddUser();">Create New Admin</button> <!--
        <form ng-controller="SearchCtrl" class="search" ng-submit="doSearch()">
          <input type="text" name="search" id="search" placeholder="" ng-model="searchString">
          <input type="submit" value="Search">
        </form>
        --> 
      <div class="right">
        <div class="label">Show</div>
        <ul class="nav tab-menu">
          <li ng-class="getActiveClass(true);" class="button">Active<a href="javascript:void(0);" ng-click="listActive(true);" class="filled-link"></a></li>
          <li ng-class="getActiveClass(false);" class="button">Inactive<a href="javascript:void(0);" ng-click="listActive(false);" class="filled-link"></a></li>
        </ul><!-- end .nav.tab-menu -->
      </div><!-- end .right -->
      <div class="clear"></div>
    </div><!-- end .util -->

    <table class="list selectable">
      <tr class="header">
        <th>Name 
        <th>Email  
      <tr class="record" ng-repeat="user in adminUserService.list" ng-click="showUser(user.guid)">
        <td>{{user.username}} 
        <td>{{user.email}}  
    </table>
    <!--
      <div ng-controller="Pager" class="pages">
        <a href="javascript:void(0);" ng-click="prevPage();">Prev</a>
        <span class="page-numbers">
          <a href="javascript:void(0);" ng-repeat="page in pages" ng-click="loadPage($index)" pager-complete>{{page.num}}</a>
        </span>
        <a href="javascript:void(0);" ng-click="nextPage();">Next</a>
      </div>
      --> 
  </section>
</div><!-- end .list_admin -->