//login styles

.login-section {
	text-align: center;

	.input-label, input {display: inline-block;}
	.input-label {text-align: right; min-width: 100px;}

	button {
		width: 189px;
		// margin-left: 103px;
		margin: 2px 0 0 103px;
	}
}