/*
 * Top Nav
 */

 .site-header {
 	z-index: 10;
 	width: 100%;
	position: fixed;
	top: 0;
	left: 0;

 	&.stuck {
 	}
	.nav-top {
		background-color: rgb(237,231,224);
		width:100%;
		font-family: 'Open Sans', sans-serif;

		&.desktop {
			// max-width:$maxSize;
			.left {
				float:left;
				position: relative;
				top: 8px;
			}

			ul {
				display: inline-block;
				float:right;
				height:100%;

				li {
					$navAnimDur: 0.3s;
					padding: 17px 10px;
					display: inline-block;
					position: relative;

					a {
						font-size: 11px;
						color: rgb(35,34,32);
						text-decoration: none;
						text-transform: uppercase;
						font-weight: bolder;
						// &:not(.filled-link) {
						// 	position: relative;
						// 	top: -2px;
						// }
					}

					&.current, &:hover {
						background-color: rgb(252,49,132);
						a {color: rgb(237,231,224);}
					}
				}

				&.subnav {
					width: 100%;
					text-align: right;
					position: relative;
					.underlay {
						background-color: black;
						position: absolute;
						left: 0;
						height: 100%;
						width: calc(100% + (100vw - 1165px)/2);
						@media #{media-width-res(1310)} {
							width: calc(100% + 5vw);
						}
					}
					li {
						padding: 10px;
						a {color: white;}
					}

					@media #{media-width-res(767)} {
						text-align: center;
						.underlay {
							width: 100%;
							.nav-flag {display: none;}
						}
					}
				}
			}
		}

		&.mobile {display: none;}

		.left {
			position: relative;
		}

		.logo, .wordmark {
			position: relative;
			margin: 5px auto;
			// display: inline-block;
		}
		.logo {
			top: 2px;
		}
		.wordmark {
			// top: -9px;
			// left: 9px;
		}
		.hamburger {display: none;}

	}
}

// @media #{media-width-res(1100)} {
// 	.site-header {
// 		.nav-top.desktop {

// 			.left {
// 				.logo, .wordmark {
// 					display: block;
// 					margin: 0 auto;
// 				}
// 				.logo {
// 					height: 25px;
// 					width: 80px;
// 				}
// 				.wordmark {
// 					left: 0;
// 					top: 9px;
// 					height: 12px;
// 					width: 150px;
// 				}
// 			}
// 		}
// 	}
// }

@media #{media-width-res(950)} {
	.site-header {
		.nav-top.desktop {

			.left {
				top: 20px;
				.logo, .wordmark {
					display: block;
					margin: 0 auto;
				}
				.logo {
					height: 25px;
					width: 80px;
				}
				.wordmark {
					left: 0;
					top: 9px;
					height: 12px;
					width: 150px;
				}
			}
		}
	}
}

@media #{media-width-res(880)} {
	.site-header .nav-top.desktop .left .wordmark {display: none;}
	.site-header .nav-top.desktop .left .logo {
		top: 8px;
		left: -2px;
		height: 30px;
	}
	.site-header .nav-top.desktop ul li a {font-size: 10px;}
}

@media #{$tablet-mobile} {

	.site-header .nav-top.desktop {
		.bucket-wrapper {
			width: 100%;
		}
		.left {
			float: none;
			width: $minWidth;
			margin: 0 auto;
			padding: 10px 0;
			top: 0;

			.logo {
				margin: 0;
				float: left;
				top: 0;
			}

			.hamburger {
				opacity: 0.45;
				cursor: pointer;
				float: right;
				display: block;
				&:hover {
					opacity: 0.6;
				}
			}
		}

		.right {float: none; width: 100%;}

		ul {
			display: none;
			width: 100%;
			text-align: center;
			&.expand {display: block;}
			li {
				display: block;
				a {font-size: 12px;}
			}
		}
	}
}