table.list.selectable {
	width: 100%;
	font-family: "Myriad Pro", "Vegur", "PT Sans";

	.header {
		background: rgb(0,170,179);

		th {
			font-size: 18px;
			color: white;
			text-transform: uppercase;
			padding: 18px 5px 15px 15px;
		}

		&.vertical {
			background: none;
			border: 1px solid rgba(black, 0.2);
			th {background: rgb(0,170,179);}
			td {padding-left: 10px;}
		}
	}

	.record {
		&:nth-child(even) {background: rgb(242,242,242);}
		&:nth-child(odd) {background: rgb(229,229,229);}
		&:hover {background: rgb(200,200,200);}
		font-size: 14px;
		line-height: 24px;
		cursor: pointer;

		td {
			padding: 15px;
			padding-right: 5px;
		}
	}
}

.pagination {
	float: right;
	font-family: "Myriad Pro", "Vegur", "PT Sans";
	padding: 10px 0;
	a {
		color: black;
		text-decoration: none;
		font-size: 15px;
		padding: 0 5px;
		&:hover {color: rgba(black, 0.7);}

		&.selected {
			font-size: 18px;
			color: rgba(black, 0.6);
		}
	}
}