/*
 Variables
*/
@font-face {
  font-family: 'NeutraFace2';
  src: url("../fonts/Neutraface_no2_text_book_lining.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Neutraface_no2_text_book_lining.eot?#iefix") format("embedded-opentype"), url("../fonts/Neutraface_no2_text_book_lining.woff") format("woff"), url("../fonts/Neutraface_no2_text_book_lining.ttf") format("truetype"), url("../fonts/Neutraface_no2_text_book_lining.svg#83ae88f2580e11b4bd26865646cfd160") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: '../fonts/Vegur';
  src: url("../fonts/Vegur-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Vegur-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Vegur-Regular.woff") format("woff"), url("../fonts/Vegur-Regular.ttf") format("truetype"), url("../fonts/Vegur-Regular.svg#cc3bcc84968dd7b3a781ee7bfaa4665a") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: '../fonts/Vegur Light';
  src: url("../fonts/Vegur-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Vegur-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Vegur-Light.woff") format("woff"), url("../fonts/Vegur-Light.ttf") format("truetype"), url("../fonts/Vegur-Light.svg#cb10dbcaeac9c8f6bae2612f3441e15f") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: '../fonts/Vegur';
  src: url("../fonts/Vegur-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Vegur-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Vegur-Bold.woff") format("woff"), url("../fonts/Vegur-Bold.ttf") format("truetype"), url("../fonts/Vegur-Bold.svg#ee85b0843d26471a856cb5acb5d4d0ab") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

/* line 13, ../scss/_core.scss */
.magnify {
  background: url("../images/magnify.png") center no-repeat, rgba(0, 0, 0, 0.5);
  background-size: 25px 25px, 100% 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

/* line 24, ../scss/_core.scss */
.logo {
  width: 130px;
  height: 45px;
  background: url("../images/logo.png") center no-repeat;
  background-size: contain;
}

/* line 30, ../scss/_core.scss */
.wordmark {
  width: 190px;
  height: 16px;
  background: url("../images/wordmark.png") center no-repeat;
  background-size: contain;
}

/* line 37, ../scss/_core.scss */
.social-icon, div[class^="clients-nav"] {
  height: 24px;
  width: 24px;
  background-image: url("../images/spritesheet.png");
  background-repeat: no-repeat;
}
/* line 42, ../scss/_core.scss */
.social-icon.twitter, div[class^="clients-nav"].twitter {
  background-position: 22.22% 0;
}
/* line 45, ../scss/_core.scss */
.social-icon.google-plus, div[class^="clients-nav"].google-plus {
  background-position: 44.44% 0;
}
/* line 48, ../scss/_core.scss */
.social-icon.tumblr, div[class^="clients-nav"].tumblr {
  background-position: 55.55% 0;
}
/* line 51, ../scss/_core.scss */
.social-icon.facebook, div[class^="clients-nav"].facebook {
  background-position: 33.33% 0;
}
/* line 54, ../scss/_core.scss */
.social-icon.clients-nav-prev, div[class^="clients-nav"].clients-nav-prev {
  background-position: 0 100%;
}
/* line 57, ../scss/_core.scss */
.social-icon.clients-nav-next, div[class^="clients-nav"].clients-nav-next {
  background-position: 11.11% 100%;
}
/* line 60, ../scss/_core.scss */
.social-icon.hamburger, div[class^="clients-nav"].hamburger {
  height: 30px;
  width: 30px;
  background-position: 100% 100%;
  background-size: 500%;
}

/*  SECTIONS  */
/* line 71, ../scss/_core.scss */
.grid-section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
/* line 78, ../scss/_core.scss */
.grid-col {
  display: block;
  float: left;
  margin: 0 1% 1%;
}

/*  GROUPING  */
/* line 88, ../scss/_core.scss */
.grid-group:before,
.grid-group:after {
  content: "";
  display: table;
}

/* line 92, ../scss/_core.scss */
.grid-group:after {
  clear: both;
}

/* line 95, ../scss/_core.scss */
.grid-group {
  zoom: 1;
  /* For IE 6/7 */
}

/* line 99, ../scss/_core.scss */
.span-1-of-2 {
  width: 48%;
}

/* line 101, ../scss/_core.scss */
.span-1-of-3 {
  width: 31.33%;
}

/* line 103, ../scss/_core.scss */
.span-1-of-4 {
  width: 23%;
}

/* line 105, ../scss/_core.scss */
.span-1-of-5 {
  width: 18%;
}

/* line 107, ../scss/_core.scss */
.span-1-of-6 {
  width: 14.66%;
}
@media only screen and (max-device-width: 1300px), (max-width: 1300px) {
  /* line 107, ../scss/_core.scss */
  .span-1-of-6 {
    width: 23%;
  }
}

/* line 115, ../scss/_core.scss */
.span-1-of-8 {
  width: 10.5%;
}

/* line 117, ../scss/_core.scss */
.col {
  display: inline-block;
}

/* line 118, ../scss/_core.scss */
.col-2-3 {
  width: 67%;
}

/* line 119, ../scss/_core.scss */
.col-1-3 {
  width: 33%;
}

/* line 120, ../scss/_core.scss */
.col-1-4 {
  width: 25%;
}

/* line 121, ../scss/_core.scss */
.col-3-4 {
  width: 75%;
}

/* line 3, ../scss/_base.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../scss/_base.scss */
.left {
  float: left;
}

/* line 8, ../scss/_base.scss */
.right {
  float: right;
}

/* line 9, ../scss/_base.scss */
.clear {
  clear: both;
}

/* line 11, ../scss/_base.scss */
.filled-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* line 19, ../scss/_base.scss */
.section-wrapper, .bucket-wrapper {
  max-width: 1165px;
  width: 90%;
  margin: 0 auto;
}

/* line 25, ../scss/_base.scss */
.section-wrapper {
  position: relative;
  padding: 60px 0;
}
/* line 28, ../scss/_base.scss */
.section-wrapper .content {
  font-family: "Myriad Pro", "Vegur", "PT Sans";
}

/* line 31, ../scss/_base.scss */
.section-title {
  font-family: "Open Sans";
  font-size: 51px;
  text-transform: uppercase;
  margin-bottom: 60px;
  position: relative;
}

/* line 40, ../scss/_base.scss */
input[type="submit"], button[ng-click], .button {
  position: relative;
  background: #ede7e0;
  color: black;
  font-family: "Myriad Pro", "Vegur", "PT Sans";
  font-size: 11px;
  text-transform: uppercase;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 18px 15px 13px;
  margin: 0;
  cursor: pointer;
}
/* line 54, ../scss/_base.scss */
input[type="submit"]:hover, button[ng-click]:hover, .button:hover {
  background: #e7e0d6;
}
/* line 58, ../scss/_base.scss */
input[type="submit"].active, button[ng-click].active, .button.active {
  color: white;
  background: #4c4c4c;
}

/* line 65, ../scss/_base.scss */
input[type="text"], input[type="email"], input[type="phone"], textarea, select {
  padding: 10px 0 11px 10px;
  display: block;
  font-size: 14px;
  font-family: "Open Sans";
  color: #747474;
  border: 1px solid #d9d9d9;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 74, ../scss/_base.scss */
input[type="text"]:focus, input[type="email"]:focus, input[type="phone"]:focus, textarea:focus, select:focus {
  outline: 1px solid #c8c8c8;
}

/* line 77, ../scss/_base.scss */
.label {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Myriad Pro", "Vegur", "PT Sans";
  padding: 0 10px;
}

@media only screen and (max-device-width: 767px), (max-width: 767px) {
  /* line 86, ../scss/_base.scss */
  body {
    -webkit-text-size-adjust: none;
  }
}
/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../scss/global.scss */
.page-wrapper {
  margin-top: 50px;
}

/*
 * Top Nav
 */
/* line 5, ../scss/_main_nav.scss */
.site-header {
  z-index: 10;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
/* line 14, ../scss/_main_nav.scss */
.site-header .nav-top {
  background-color: #ede7e0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
/* line 21, ../scss/_main_nav.scss */
.site-header .nav-top.desktop .left {
  float: left;
}
/* line 25, ../scss/_main_nav.scss */
.site-header .nav-top.desktop ul {
  display: inline-block;
  float: right;
  height: 100%;
}
/* line 30, ../scss/_main_nav.scss */
.site-header .nav-top.desktop ul li {
  padding: 17px 10px;
  display: inline-block;
  position: relative;
}
/* line 36, ../scss/_main_nav.scss */
.site-header .nav-top.desktop ul li a {
  font-size: 11px;
  color: #232220;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 41, ../scss/_main_nav.scss */
.site-header .nav-top.desktop ul li a:not(.filled-link) {
  position: relative;
  top: -2px;
}
/* line 47, ../scss/_main_nav.scss */
.site-header .nav-top.desktop ul li.current, .site-header .nav-top.desktop ul li:hover {
  background-color: #fc3184;
}
/* line 49, ../scss/_main_nav.scss */
.site-header .nav-top.desktop ul li.current a, .site-header .nav-top.desktop ul li:hover a {
  color: #ede7e0;
}
/* line 55, ../scss/_main_nav.scss */
.site-header .nav-top.mobile {
  display: none;
}
/* line 57, ../scss/_main_nav.scss */
.site-header .nav-top .left {
  position: relative;
}
/* line 61, ../scss/_main_nav.scss */
.site-header .nav-top .logo, .site-header .nav-top .wordmark {
  position: relative;
  display: inline-block;
}
/* line 65, ../scss/_main_nav.scss */
.site-header .nav-top .logo {
  top: 2px;
}
/* line 68, ../scss/_main_nav.scss */
.site-header .nav-top .wordmark {
  top: -9px;
  left: 9px;
}
/* line 72, ../scss/_main_nav.scss */
.site-header .nav-top .hamburger {
  display: none;
}

@media only screen and (max-device-width: 1100px), (max-width: 1100px) {
  /* line 82, ../scss/_main_nav.scss */
  .site-header .nav-top.desktop .left .logo, .site-header .nav-top.desktop .left .wordmark {
    display: block;
    margin: 0 auto;
  }
  /* line 86, ../scss/_main_nav.scss */
  .site-header .nav-top.desktop .left .logo {
    height: 25px;
    width: 80px;
  }
  /* line 90, ../scss/_main_nav.scss */
  .site-header .nav-top.desktop .left .wordmark {
    left: 0;
    top: 9px;
    height: 12px;
    width: 150px;
  }
}
@media only screen and (max-device-width: 880px), (max-width: 880px) {
  /* line 102, ../scss/_main_nav.scss */
  .site-header .nav-top.desktop .left .wordmark {
    display: none;
  }

  /* line 103, ../scss/_main_nav.scss */
  .site-header .nav-top.desktop .left .logo {
    top: 8px;
    left: -2px;
    height: 30px;
  }

  /* line 108, ../scss/_main_nav.scss */
  .site-header .nav-top.desktop ul li a {
    font-size: 10px;
  }
}
@media only screen and (max-device-width: 767px), (max-width: 767px) {
  /* line 113, ../scss/_main_nav.scss */
  .site-header .nav-top.desktop .bucket-wrapper {
    width: 100%;
  }
  /* line 116, ../scss/_main_nav.scss */
  .site-header .nav-top.desktop .left {
    float: none;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
  }
  /* line 122, ../scss/_main_nav.scss */
  .site-header .nav-top.desktop .left .logo {
    margin: 0;
    float: left;
    top: 0;
  }
  /* line 128, ../scss/_main_nav.scss */
  .site-header .nav-top.desktop .left .hamburger {
    opacity: 0.45;
    cursor: pointer;
    float: right;
    display: block;
  }
  /* line 133, ../scss/_main_nav.scss */
  .site-header .nav-top.desktop .left .hamburger:hover {
    opacity: 0.6;
  }
  /* line 139, ../scss/_main_nav.scss */
  .site-header .nav-top.desktop ul {
    display: none;
    width: 100%;
    text-align: center;
  }
  /* line 143, ../scss/_main_nav.scss */
  .site-header .nav-top.desktop ul.expand {
    display: block;
  }
  /* line 144, ../scss/_main_nav.scss */
  .site-header .nav-top.desktop ul li {
    display: block;
  }
  /* line 146, ../scss/_main_nav.scss */
  .site-header .nav-top.desktop ul li a {
    font-size: 12px;
  }
}
/* line 1, ../scss/_admin_nav.scss */
.slider-menu {
  font-family: 'Open Sans';
  width: calc(100% - 15px);
  text-transform: uppercase;
  border-right: none;
  border-top: none;
}
/* line 8, ../scss/_admin_nav.scss */
.slider-menu .menu-item {
  position: relative;
  padding: 11px 22px;
  border-top: 1px solid #5c5c5c;
  border-left: 1px dotted #5c5c5c;
  background-color: white;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 300;
  -moz-transition-duration: 300;
  -o-transition-duration: 300;
  transition-duration: 300;
}
/* line 16, ../scss/_admin_nav.scss */
.slider-menu .menu-item a {
  font-size: 12px;
  color: #2e2e2e;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
/* line 24, ../scss/_admin_nav.scss */
.slider-menu .menu-item:last-child {
  border-bottom: 1px solid #4c4c4c;
}
/* line 26, ../scss/_admin_nav.scss */
.slider-menu .menu-item:hover {
  background-color: #f0f0f0;
}
/* line 30, ../scss/_admin_nav.scss */
.slider-menu .menu-item.current {
  background-color: #4c4c4c;
  border: none;
  border-left: 1px solid #4c4c4c;
}
/* line 34, ../scss/_admin_nav.scss */
.slider-menu .menu-item.current a {
  color: white;
  letter-spacing: 2px;
  position: relative;
}

/* line 1, ../scss/_main_content.scss */
.content.ng-scope {
  padding-left: 15px;
  border-left: 1px dotted black;
}

/* line 6, ../scss/_main_content.scss */
.util {
  margin-bottom: 10px;
}
/* line 8, ../scss/_main_content.scss */
.util .nav.tab-menu, .util .search.ng-scope, .util .button, .util .label {
  display: inline-block;
}
/* line 12, ../scss/_main_content.scss */
.util .nav.tab-menu {
  margin-right: 10px;
}
/* line 17, ../scss/_main_content.scss */
.util .search.ng-scope input[type="submit"] {
  display: none;
}

/* line 23, ../scss/_main_content.scss */
.details-section {
  margin-bottom: 50px;
}
/* line 26, ../scss/_main_content.scss */
.details-section .section-header, .details-section .title {
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Open Sans";
  margin: 0 0 20px;
}
/* line 31, ../scss/_main_content.scss */
.details-section .section-header span, .details-section .title span {
  position: relative;
  top: 5px;
}
/* line 36, ../scss/_main_content.scss */
.details-section .title, .details-section .title a {
  font-size: 27px;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
/* line 44, ../scss/_main_content.scss */
.details-section .details {
  font-family: "Myriad Pro", "Vegur", "PT Sans";
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
}

/* line 55, ../scss/_main_content.scss */
#admin_list .util .nav.tab-menu {
  margin-right: 0;
}

/* line 1, ../scss/_tables.scss */
table.list.selectable {
  width: 100%;
  font-family: "Myriad Pro", "Vegur", "PT Sans";
}
/* line 5, ../scss/_tables.scss */
table.list.selectable .header {
  background: #00aab3;
}
/* line 8, ../scss/_tables.scss */
table.list.selectable .header th {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  padding: 18px 5px 15px 15px;
}
/* line 15, ../scss/_tables.scss */
table.list.selectable .header.vertical {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 18, ../scss/_tables.scss */
table.list.selectable .header.vertical th {
  background: #00aab3;
}
/* line 19, ../scss/_tables.scss */
table.list.selectable .header.vertical td {
  padding-left: 10px;
}
/* line 23, ../scss/_tables.scss */
table.list.selectable .record {
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}
/* line 24, ../scss/_tables.scss */
table.list.selectable .record:nth-child(even) {
  background: #f2f2f2;
}
/* line 25, ../scss/_tables.scss */
table.list.selectable .record:nth-child(odd) {
  background: #e5e5e5;
}
/* line 26, ../scss/_tables.scss */
table.list.selectable .record:hover {
  background: #c8c8c8;
}
/* line 31, ../scss/_tables.scss */
table.list.selectable .record td {
  padding: 15px;
  padding-right: 5px;
}

/* line 38, ../scss/_tables.scss */
.pagination {
  float: right;
  font-family: "Myriad Pro", "Vegur", "PT Sans";
  padding: 10px 0;
}
/* line 42, ../scss/_tables.scss */
.pagination a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  padding: 0 5px;
}
/* line 47, ../scss/_tables.scss */
.pagination a:hover {
  color: rgba(0, 0, 0, 0.7);
}
/* line 49, ../scss/_tables.scss */
.pagination a.selected {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

/* line 3, ../scss/_add_edit_forms.scss */
.add-edit-form .field-group .input-label {
  width: 40%;
  display: inline-block;
  text-transform: uppercase;
}
/* line 9, ../scss/_add_edit_forms.scss */
.add-edit-form .field-group input, .add-edit-form .field-group select, .add-edit-form .field-group textarea {
  display: inline-block;
  margin-left: 10px;
  width: calc(60% - 14px);
}
/* line 14, ../scss/_add_edit_forms.scss */
.add-edit-form .field-group input[type="file"] {
  padding-top: 20px;
}
/* line 18, ../scss/_add_edit_forms.scss */
.add-edit-form .field-group .preview-img {
  margin-left: calc(40% + 14px);
  margin-top: 10px;
}
/* line 21, ../scss/_add_edit_forms.scss */
.add-edit-form .field-group .preview-img.preview-img[ng-src=""] {
  background: rgba(0, 0, 0, 0.2);
  width: 100px;
}
/* line 30, ../scss/_add_edit_forms.scss */
.add-edit-form .field-group.text-field .input-label {
  vertical-align: top;
  padding-top: 18px;
}
/* line 37, ../scss/_add_edit_forms.scss */
.add-edit-form .util {
  margin-top: 10px;
}
@media only screen and (max-device-width: 900px), (max-width: 900px) {
  /* line 42, ../scss/_add_edit_forms.scss */
  .add-edit-form .field-group {
    margin-bottom: 10px;
  }
  /* line 44, ../scss/_add_edit_forms.scss */
  .add-edit-form .field-group .input-label {
    width: 100%;
  }
  /* line 47, ../scss/_add_edit_forms.scss */
  .add-edit-form .field-group input, .add-edit-form .field-group select, .add-edit-form .field-group textarea {
    margin-left: 0;
    width: 100%;
  }
  /* line 51, ../scss/_add_edit_forms.scss */
  .add-edit-form .field-group .preview-img {
    margin-left: 0;
  }
  /* line 56, ../scss/_add_edit_forms.scss */
  .add-edit-form .field-group.text-field .input-label {
    padding-top: 0;
  }
}

/*
Modal Blocker
*/
#modal {
	background-color: hsla(0, 0%, 0%, 0.8);
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

#modal {
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 10;
    position: fixed;
    display: none; }
    #modal .bk {
      background-color: black;
      opacity: 0.7;
      width: 100%;
      height: 100%; }
    #modal .spinner {
      position: absolute;
      width: 56px;
      height: 21px;
      background-image: url("img/loadBar.gif");
      left: 50%;
      top: 50%;
      margin-left: -28px;
      margin-top: -10.5px;
      z-index: 11; }

.hidden {
	display:none!important;
}

button:disabled {
	color:hsl(0, 0%, 80%)
}

